
<script>
  $( document ).ready(function() {
   // Completed will be hidden by default
   $("#completed").hide();
   $("#active_btn").click( function() {
      $("#active").show();
      $("#completed").hide();

      $("#completed_btn").removeClass("active");
      $(this).addClass("active");  
    })
    $("#completed_btn").click( function() {
      $("#completed").show();
      $("#active").hide();

      $("#active_btn").removeClass("active");
      $(this).addClass("active");
    })


  });
</script>

<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" id="active_btn">Active</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#" id="completed_btn">Completed</a>
  </li>
</ul>

  {% include 'active.html' %}
  {% include 'completed.html' %}

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    3
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">5</a></li>
    <li><a class="dropdown-item" href="#">10</a></li>
    <li><a class="dropdown-item" href="#">30</a></li>
  </ul>
</div>